@model Wedding
@{
    ViewData["Title"] = @Model.Name + " Wedding";
}

<h2>@ViewData["Title"]</h2>


<h3>Date: @Model.Date.ToString("MMMM d, yyyy")</h3>
<h3>Guests:</h3>

<ul>
    @foreach(WeddingGuest g in @Model.WeddingGuests)
    {
        <li>@g.Guest.FullName</li>
    }
</ul>

